<footer id="footer">
    <div class="footer-content">
        <div class="footer-logos">
            <a href="{{ url_for('home') }}">
                <img class="footer-logo-n1" src="{{ url_for('static', filename='DHorizons_logo.png') }}" alt="Logo DHorizons">
            </a>
            <!-- LOGO UNIOR CLICCABILE -->
            <a href="https://www.unior.it/it/studia-con-noi/didattica/offerta-formativa/lauree-magistrali/saperi-umanistici-e-tecnologie" target="_blank">
                <img class="footer-logo-n2 logo-bianca" src="{{ url_for('static', filename='logo_unior.png') }}" alt="Logo L'Orientale">
            </a>

            <!-- LOGO PARTHENOPE CLICCABILE -->
            <a href="https://uniparthenope.it/Portale-Ateneo" target="_blank">
                <img class="footer-logo-n3" src="{{ url_for('static', filename='logo_parthenope.png') }}" alt="Logo Parthenope">
            </a>
        </div>

        <div class="footer-contacts">
            <h3>Contatti&nbsp;
                <i class="fa-solid fa-address-book fa-lg"></i><br>
            </h3>
            <p><i class="fa-solid fa-envelope fa-lg"></i> m.trombetta@studenti.unior.it</p>
            <p><i class="fa-solid fa-envelope fa-lg"></i> d.passariello@studenti.unior.it</p><br>
            <div class="footer-socials">
            <h3>Seguici sui social!<br>
            <i class="fa-brands fa-instagram fa-lg"></i>&nbsp; <!--non-breaking space, lascia uno spazio senza andare accapo-->
            <i class="fa-brands fa-facebook fa-lg"></i>&nbsp;
            <i class="fa-brands fa-youtube fa-lg"></i>
            </h3>
            </div>
        </div>
    </div>

<!-- CREDITS CON LOGO LINKEDIN CLICCABILE -->
<div class="footer-crediti">
<p>
  Created by: Davide Passariello 
  <a href="https://www.linkedin.com/in/davidepassariello/"><i class="fa-brands fa-linkedin fa-lg" title="Profilo LinkedIn"></i></a> 
  & Manuel Trombetta <a href="https://www.linkedin.com/in/manuel-trombetta-67816a298/"> <i class="fa-brands fa-linkedin fa-lg" title="Profilo LinkedIn"></i></a>
</p>
</div>
</footer>
